
 /* Body */

h1{
    font-family: "Ubuntu";
    font-size: 3.5rem;
    color: #365832;
    font-weight: 900;
}
h2{
    color: rgb(63, 90, 81);
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: normal;
    margin: 20px;
}

h3{
    font-family: "Montserrat-bold"; 
    font-weight: 500;
    color: #365832;
}
p {
    font-family: "Montserrat-bold";
    margin:auto;
    font-size: 1.6rem;
    color: #3f6963;
    text-align:center;
}
button {
    border-radius: 5rem;
    background-color: beige;
    color: #3f6963;
}
button:hover{
    transform: scale(1.2);
 }
em{
    margin-bottom: 20px;
}

/* Navigation Bar */

.navbar{
    background-color: #365832;
    display: flex;
}
.navbar-brand{
    color:rgb(207, 226, 30);
    font-size: 4.5rem;
    font-weight: 600;
    font-family:"Ubuntu";
}
.navbar-toggler{
    margin-left: 50px;
   
}

.nav-link{
    color:rgb(207, 226, 30);
    text-decoration: none;
    font-size: 1.5rem;
    font-family:"Montserrat-bold";
}
.carousel-inner img{
  margin: 50px auto 100px;
  border-radius: 5rem;
}
.d-block{
    height: 700px;
    width: 1200px;
}
/* top- container */

.top-container{
    text-align: center;
    color: rgb(53, 57, 59);
    position: relative;
    margin-top: 50px;
}
/* middle- container */

.park-image{
    width: 40%;
    border-radius: 100%;
    text-align: center;
    margin: 100px auto 100px auto;
}

.park-row{
    text-align: center;
}


/* bottom-container */

.container-fluid{
    text-align: center;
    margin: 0%;
    padding: 0%;
}
    
/*contact-form*/
#contact{
    background-color:rgb(207, 226, 30);  
}
#contact-form{
    background-color:rgb(207, 226, 30);
    text-align: center;
}
.btn-primary {
    color: #fff;
    background-color:rgb(53, 57, 59);
    border-color: darkcyan;
    margin:1.2em;
}
.list-group-item-success {
    color: #0f5132;
    background-color: #d1e7dd;
    font-size: 1.2rem;
}

.ctn-message{
    margin-top:1.2em;

   
}
.back-to-top{
    text-align: center;
    margin: 0;
}
.contact-button{
    color:#365832;
    font-size: 2.2rem;
    padding: 5px;
    margin-right: 5px;
}
.contact-button:hover{
    color: #408d81;
}

/* Gallery.html*/

body{
    background-color:antiquewhite;
}
 
.img-text{
    text-align: center;
    margin-top: 50px;
    font-family: "Ubuntu";
    color: #365832;
    font-weight: 900;
}
.gallery{
    display: block;
    margin: 32px;
    float:left;
}
 
 .image{
    width:400px;
    height:400px;
    float:left;
    margin:auto;
    border-radius: 10px;
    flex-direction: column;
    justify-content: center;
    display: flex;
 
 }
 .image:hover{
    transform: scale(1.2);
 }
 .nav-button{
    color:#365832;
    font-size: 2.2rem;
    margin: 0;
    padding: 5px;
 }
 .nav-button:hover{
    color: #408d81;
 }
 @media screen and (max-width: 1240px){
    .carousel-inner img{
        width: 100%;
        height: 100%;
        
    }
 }
 @media screen and (max-width: 612px){
    .carousel-item{
        width: 100%;
        height: 100%;}
    }

 @media screen and (max-width: 769px){
    .navbar-brand{
        font-size: 2.5rem;
        }
 }
@media  screen and (max-width: 947px) {
    .image {
        width:100%;
       }
       .image:hover{
        transform: scale(1.2);
     }
 
}